<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="20171122" package="com.companyname.BlauwtipjeApp" android:installLocation="auto" android:versionName="1.1">
	<uses-sdk android:minSdkVersion="15" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<application android:theme="@style/MasterDetailTheme" android:allowBackup="true" android:icon="@drawable/blauwtipjelogo" android:label="@string/app_name"></application>
</manifest>